/*-- scss:defaults --*/
@import url(http://fonts.googleapis.com/css?family=Lato|Roboto|Open+Sans:400italic,700italic,400,700);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400italic,700italic,400,700);
$font-family-sans-serif: 'Roboto';

/* hcl(170, c(45, 15), c(55, 90)) */
$body-color: #333333 !default;
$link-color: #069580;
$code-color: #333333;
$navbar-bg: #CCE8E1;
$navbar-fg: #069580;
$navbar-hl: #069580;
$sidebar-fg: #333333;
$sidebar-hl: #069580;
$toc-color: #069580;
$toc-hl: #069580;

/*-- scss:rules --*/
.navbar-brand-container {
    a {
        &.navbar-brand-logo {
            margin: 0;
            padding: 0;
            img {
                max-height: 1.6em;
            }
        }
    }
}
